# TB Deaths by Country

In [22]:
import pandas as pd
print(pd.__version__) # check its working

1.4.4

## Read and explore data

In [23]:
df = pd.read_excel('./pop-tb-all.xls')

df.head(5)

       Country  Population (1000s)  TB deaths
0  Afghanistan               30552   13000.00
1      Albania                3173      20.00
2      Algeria               39208    5100.00
3      Andorra                  79       0.26
4       Angola               21472    6900.00

In [24]:
df.info

<bound method DataFrame.info of                                 Country  Population (1000s)  TB deaths
0                           Afghanistan               30552   13000.00
1                               Albania                3173      20.00
2                               Algeria               39208    5100.00
3                               Andorra                  79       0.26
4                                Angola               21472    6900.00
..                                  ...                 ...        ...
189  Venezuela (Bolivarian Republic of)               30405     480.00
190                            Viet Nam               91680   17000.00
191                               Yemen               24407     990.00
192                              Zambia               14539    3600.00
193                            Zimbabwe               14150    5700.00

[194 rows x 3 columns]>

In [25]:
df.describe()

       Population (1000s)      TB deaths
count        1.940000e+02     194.000000
mean         3.673247e+04    5529.267887
std          1.387328e+05   22657.260240
min          1.000000e+00       0.000000
25%          1.740250e+03      25.750000
50%          7.905500e+03     315.000000
75%          2.477300e+04    2200.000000
max          1.393337e+06  240000.000000

## Some Exercises

### Q1. What is the total, smallest, largest, and average number of deaths due to TB? Include country names for min and max.

In [26]:
column_name = 'TB deaths'

# Find the country with the maximum 'TB deaths'
max_index = df[column_name].idxmin() # index of min value in column
min_country = df.loc[max_index, 'Country'] # Country value for that index
min_death_count = df[column_name].min() # The min value in column

# Find the country with the maximum 'TB deaths'. Same as above but for max
max_index = df[column_name].idxmax()
max_country = df.loc[max_index, 'Country']
max_death_count = df[column_name].max()

# Calculate the average 'TB deaths'
average_death_count = df[column_name].mean()

# Print the results with rounded numbers using python f string
print(f"Least deaths: {min_death_count:.2f} in {min_country}")
print(f"Most deaths: {max_death_count:.2f} in {max_country}")
print(f"Average deaths: {average_death_count:.2f}")

Least deaths: 0.00 in San Marino
Most deaths: 240000.00 in India
Average deaths: 5529.27

### Q2. What is the death rate (number of deaths divided by population) of each country?

In [27]:
df['Death rate'] = df['TB deaths'] / (df['Population (1000s)'] * 1000)

print(df.head())

       Country  Population (1000s)  TB deaths  Death rate
0  Afghanistan               30552   13000.00    0.000426
1      Albania                3173      20.00    0.000006
2      Algeria               39208    5100.00    0.000130
3      Andorra                  79       0.26    0.000003
4       Angola               21472    6900.00    0.000321

### Q3. Which countries have the smallest and largest death rate?

In [28]:
min_country = df.loc[df['Death rate'].idxmin(), 'Country']
min_death_rate = df['Death rate'].min()

print(f"The country with the minimum death rate is {min_country} with a death rate of {min_death_rate:.6f} which is {min_death_rate * 100:.6f}%.")

max_country = df.loc[df['Death rate'].idxmax(), 'Country']
max_death_rate = df['Death rate'].max()

print(f"The country with the maximum death rate is {max_country} with a death rate of {max_death_rate:.6f} which is {max_death_rate * 100:.6f}%.")

The country with the minimum death rate is San Marino with a death rate of 0.000000 which is 0.000000%.
The country with the maximum death rate is Djibouti with a death rate of 0.000997 which is 0.099656%.

### What order does `sort_values` sort in? Ans: ascending

In [29]:
df.sort_values(['Population (1000s)'])

                      Country  Population (1000s)  TB deaths  Death rate
125                      Niue                   1       0.01    0.000010
179                    Tuvalu                  10       2.80    0.000280
118                     Nauru                  10       0.67    0.000067
40               Cook Islands                  21       0.41    0.000020
129                     Palau                  21       0.36    0.000017
..                        ...                 ...        ...         ...
23                     Brazil              200362    4400.00    0.000022
78                  Indonesia              249866   64000.00    0.000256
185  United States of America              320051     490.00    0.000002
77                      India             1252140  240000.00    0.000192
36                      China             1393337   41000.00    0.000029

[194 rows x 4 columns]

### Difference From Average

What is the difference between the population of each country and the average population. Eg. countries_population - mean_population (both in 1000s).

In [30]:
mean = df['Population (1000s)'].mean()
df['Diff_From_Average'] = df['Population (1000s)'] - mean
print(f"The mean population is {mean}")
df.head()

The mean population is 36732.469072164946

       Country  Population (1000s)  TB deaths  Death rate  Diff_From_Average
0  Afghanistan               30552   13000.00    0.000426       -6180.469072
1      Albania                3173      20.00    0.000006      -33559.469072
2      Algeria               39208    5100.00    0.000130        2475.530928
3      Andorra                  79       0.26    0.000003      -36653.469072
4       Angola               21472    6900.00    0.000321      -15260.469072

### Display a dataframe consisting of only those countries that start with C and whose population in 1000s, is less than 1000

In [31]:
c_countries = df[(df['Country'] < 'D') & (df['Country'] >'C')]

c_countries[df['Population (1000s)'] < 1000]

/tmp/ipykernel_12006/1724922504.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  c_countries[df['Population (1000s)'] < 1000]

         Country  Population (1000s)  TB deaths  Death rate  Diff_From_Average
29    Cabo Verde                 499     150.00    0.000301      -36233.469072
38       Comoros                 735      58.00    0.000079      -35997.469072
40  Cook Islands                  21       0.41    0.000020      -36711.469072

### Q. Filter countries starting with P with population (in 1000s) less than 50000

In [34]:
df[df['Country'].str.startswith('N') & (df['Population (1000s)'] < 50000)]

,Country,Population (1000s),TB deaths,Death rate,Diff_From_Average
117,Namibia,2303,1300.00,5.644811e-04,-34429.469072
118,Nauru,10,0.67,6.700000e-05,-36722.469072
119,Nepal,27797,4600.00,1.654855e-04,-8935.469072
120,Netherlands,16759,20.00,1.193389e-06,-19973.469072
121,New Zealand,4506,6.30,1.398136e-06,-32226.469072
122,Nicaragua,6080,160.00,2.631579e-05,-30652.469072
123,Niger,17831,3100.00,1.738545e-04,-18901.469072
125,Niue,1,0.01,1.000000e-05,-36731.469072
126,Norway,5043,4.40,8.724965e-07,-31689.469072